## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Description,Date
0,0,Necochea,-38.5473,-58.7368,50.18,75,100,7.23,AR,overcast clouds,2022-07-31 02:30:00
1,1,Kapaa,22.0752,-159.3190,84.18,72,75,12.66,US,broken clouds,2022-07-31 02:31:37
2,2,Airai,-8.9266,125.4092,71.11,53,45,4.29,TL,scattered clouds,2022-07-31 02:26:47
3,3,Kavieng,-2.5744,150.7967,85.28,63,90,9.84,PG,overcast clouds,2022-07-31 02:31:38
4,4,Lata,40.1629,-8.3327,70.02,56,0,3.62,PT,clear sky,2022-07-31 02:22:42

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Description,Date
1,1,Kapaa,22.0752,-159.3190,84.18,72,75,12.66,US,broken clouds,2022-07-31 02:31:37
3,3,Kavieng,-2.5744,150.7967,85.28,63,90,9.84,PG,overcast clouds,2022-07-31 02:31:38
14,14,Marshall,34.3834,-86.3333,77.72,90,40,4.00,US,scattered clouds,2022-07-31 02:31:41
20,20,Turayf,31.6725,38.6637,79.05,44,0,13.80,SA,clear sky,2022-07-31 02:31:43
22,22,Hithadhoo,-0.6000,73.0833,80.35,75,100,14.58,MV,light rain,2022-07-31 02:19:26
27,27,Butaritari,3.0707,172.7902,81.32,74,92,15.57,KI,overcast clouds,2022-07-31 02:25:29
33,33,Vaitape,-16.5167,-151.7500,79.30,70,5,22.91,PF,light rain,2022-07-31 02:31:48
38,38,Castlegar,49.2998,-117.6689,90.28,32,0,2.15,CA,clear sky,2022-07-31 02:31:37
39,39,Colombo,6.9319,79.8478,78.75,83,99,6.06,LK,overcast clouds,2022-07-31 02:28:43
41,41,Kieta,-6.2167,155.6333,85.71,64,6,7.90,PG,clear sky,2022-07-31 02:25:31

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        265
City           265
Lat            265
Lng            265
Max Temp       265
Humidity       265
Cloudiness     265
Wind Speed     265
Country        265
Description    265
Date           265
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Description,Date
1,1,Kapaa,22.0752,-159.3190,84.18,72,75,12.66,US,broken clouds,2022-07-31 02:31:37
3,3,Kavieng,-2.5744,150.7967,85.28,63,90,9.84,PG,overcast clouds,2022-07-31 02:31:38
14,14,Marshall,34.3834,-86.3333,77.72,90,40,4.00,US,scattered clouds,2022-07-31 02:31:41
20,20,Turayf,31.6725,38.6637,79.05,44,0,13.80,SA,clear sky,2022-07-31 02:31:43
22,22,Hithadhoo,-0.6000,73.0833,80.35,75,100,14.58,MV,light rain,2022-07-31 02:19:26
...,...,...,...,...,...,...,...,...,...,...,...
687,687,Jagdalpur,19.0667,82.0333,80.73,73,95,4.16,IN,overcast clouds,2022-07-31 02:50:22
688,688,Gat,31.6100,34.7642,76.41,100,35,0.31,IL,scattered clouds,2022-07-31 02:50:23
690,690,Lazaro Cardenas,17.9583,-102.2000,80.26,78,100,1.23,MX,overcast clouds,2022-07-31 02:51:24
692,692,Bang Saphan,11.2126,99.5117,85.68,70,100,7.38,TH,overcast clouds,2022-07-31 02:51:25
696,696,Asyut,27.1810,31.1837,77.18,25,0,5.70,EG,clear sky,2022-07-31 02:51:27

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Kapaa,US,84.18,broken clouds,22.0752,-159.3190,
3,Kavieng,PG,85.28,overcast clouds,-2.5744,150.7967,
14,Marshall,US,77.72,scattered clouds,34.3834,-86.3333,
20,Turayf,SA,79.05,clear sky,31.6725,38.6637,
22,Hithadhoo,MV,80.35,light rain,-0.6000,73.0833,
27,Butaritari,KI,81.32,overcast clouds,3.0707,172.7902,
33,Vaitape,PF,79.30,light rain,-16.5167,-151.7500,
38,Castlegar,CA,90.28,clear sky,49.2998,-117.6689,
39,Colombo,LK,78.75,overcast clouds,6.9319,79.8478,
41,Kieta,PG,85.71,clear sky,-6.2167,155.6333,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():  

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Kapaa,US,84.18,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Kavieng,PG,85.28,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
14,Marshall,US,77.72,scattered clouds,34.3834,-86.3333,Riverview Campground
20,Turayf,SA,79.05,clear sky,31.6725,38.6637,Turaif
22,Hithadhoo,MV,80.35,light rain,-0.6000,73.0833,Scoop Guest House
...,...,...,...,...,...,...,...
687,Jagdalpur,IN,80.73,overcast clouds,19.0667,82.0333,Hotel Devansh Residency
688,Gat,IL,76.41,scattered clouds,31.6100,34.7642,OlusHome
690,Lazaro Cardenas,MX,80.26,overcast clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
692,Bang Saphan,TH,85.68,overcast clouds,11.2126,99.5117,Ladawan Boutique Hotel
696,Asyut,EG,77.18,clear sky,27.1810,31.1837,فندق ميس إيجيبت Miss Egypt Hotel

In [21]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Kapaa,US,84.18,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Kavieng,PG,85.28,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
14,Marshall,US,77.72,scattered clouds,34.3834,-86.3333,Riverview Campground
20,Turayf,SA,79.05,clear sky,31.6725,38.6637,Turaif
22,Hithadhoo,MV,80.35,light rain,-0.6000,73.0833,Scoop Guest House
...,...,...,...,...,...,...,...
687,Jagdalpur,IN,80.73,overcast clouds,19.0667,82.0333,Hotel Devansh Residency
688,Gat,IL,76.41,scattered clouds,31.6100,34.7642,OlusHome
690,Lazaro Cardenas,MX,80.26,overcast clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
692,Bang Saphan,TH,85.68,overcast clouds,11.2126,99.5117,Ladawan Boutique Hotel
696,Asyut,EG,77.18,clear sky,27.1810,31.1837,فندق ميس إيجيبت Miss Egypt Hotel

In [22]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [28]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 
ocations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))